<h1>MotionPoint BI_tool</h1>


<%= form_tag main_path do %>
<%= text_field_tag :website, nil, placeholder: "Enter a URL" %>
<%= submit_tag "search"%>
<% end %>

<!-- similar web stats -->
<h2>Company Stats</h2><br>
<p>Monthly Visits:</p>
<p>Bounce Rate:</p>
<p>Traffic By Countries: </p>
<p>Referring Sites:</p>
<p>Top Sources:</p>
<p>Organic Search:</p>
<p>Paid Search:</p>
<p>Sub-domains:</p>
<!-- Built With stats -->
<p>Framworks:</p>
<!-- Wappalyzer -->
<p>CMS:</p>
